<style>
  @media (max-width: 992px){
    .navbar-brand{
      font-size: 4rem;
    }
    .navbar-toggler-icon{
      height: 6rem;
      width: 6rem;
    }
    .dropdown .btn{
      font-size: 4rem;
    }
    .form-control{
      height: calc(1.2em + 0.5rem + 3px);
      font-size: 4.3rem;
      margin-right: 2px;
      /* width:75%; */
    }
    .dropdown-menu{
      font-size: 3.5rem;
    }
    form .btn{
      font-size: 3rem;
    }
    .nav-link{
      font-size: 3.5rem;
    }
    #search{
      width: 70%;
    }
  }
  .trading{
    text-align: center;
    margin-left: 1rem;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "TaiwanMetal", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <%= button_to "交易中心", commodities_path, method: :get, class:'btn btn-light btn-lg btn-block btn-trading' if user_signed_in? %>
    </ul>
    <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            基本資料
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <%= link_to "廠商", vendors_path, class:"dropdown-item" %>
            <%= link_to "客戶", customers_path, class:"dropdown-item" %>
            <%= link_to "商品", product_lists_path, class:"dropdown-item" %>
            <%= link_to "金價", price_boards_path, class:"dropdown-item" %>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            進貨入庫
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "黃金商品", new_purchase_order_path, class: "dropdown-item" %>
            <%#= link_to "黃金商品", new_product_path, class: "dropdown-item" %>
            <%= link_to "舊金回收", new_scrap_path, class: "dropdown-item" %>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            銷貨出庫
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "商品銷售", new_sale_path, class: "dropdown-item" %>
            <%= link_to "舊金提煉", new_refine_order_path, class: "dropdown-item" %>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            庫存管理
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "進貨列表", purchase_orders_path, class: "dropdown-item" %>
            <%= link_to "商品列表", products_path, class: "dropdown-item" %>
            <%= link_to "收金列表", scraps_path, class: "dropdown-item" %>
            <%= link_to "銷售列表", sales_path, class: "dropdown-item" %>
            <%= link_to "提煉列表", refine_orders_path, class: "dropdown-item" %>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "個人資訊", edit_user_registration_path, class: 'dropdown-item' %>
          <%# <div class="dropdown-divider"></div>  %>
          <%#= link_to('中文', :locale => 'zh-TW', class: 'dropdown-item') %>
          <%# <div class="dropdown-divider"></div>  %>
          <%#= link_to('English', :locale => 'en', class: 'dropdown-item') %>
        </div>
      </li>
        <%# <li class="nav-item dropdown"> %>
          <%# <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> %>
          <%#= t('.language') %>
          <%# </a> %>
          <%# <div class="dropdown-menu p-2" aria-labelledby="navbarDropdown"> %>
            <%#= link_to('中文', :locale => 'zh-TW', class: 'dropdown-item') %>
            <%# <div class="dropdown-divider"></div>  %>
            <%#= link_to('English', :locale => 'en', class: 'dropdown-item') %>
          <%# </div> %>
        <%# </li>  %>
      <li class="nav-item">
        <%= link_to "登出", destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "登入", new_user_session_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "註冊", new_user_registration_path, class: 'nav-link' %>
      </li>
    <% end %>
    </ul>

  </div>
</nav>