<style>

@media (max-width: 992px){
  h2{
    font-size: 5rem;
  }

  label{
    font-size: 4rem;
  }

  small{
    font-size: 2rem;
  }
}

</style>
<h2><%= current_user.name %> 帳戶資訊   <%#= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :name,
                label: "使用者名稱",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
    <%= f.input :password,
                hint: "如不需更改密碼，請留空白",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "我們需要你現在的密碼，以確認修改是安全的",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-info button-edit' %>
    <%= link_to "回到上一頁", :back, class:"btn btn-outline-info" %>

  </div>
<% end %>
<%# <h3>取消我的帳戶</h3> %>

<%#= link_to "取消帳戶", registration_path(resource_name), data: {confirm: "確認取消嗎？", commit: '是的', title: '你確定嗎?', cancel: '取消'}, method: :delete, class:"btn btn-outline-danger" %></p>

