<style>

@media (max-width: 992px){
  h1{
      font-size: 6rem;
  }
  h4{
      font-size: 3rem;
  }
  .button-sale-cart{
    font-size: 3.5rem;
  }
  .hide-table{
    display: none;
  }
  table.responsive-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
      font-size: 4rem;
      /* sort out borders */
  }
  table.responsive-table td:empty:before {
      content: "\00a0";
  }
  table.responsive-table th,
  table.responsive-table td {
      margin: 0;
      vertical-align: top;
  }
  table.responsive-table th {
      text-align: left;
  }
  table.responsive-table thead {
      display: block;
      float: left;
  }
  table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
      content: "\00a0";
  }
  table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
  }
  table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top;
  }
  table.responsive-table th {
      display: block;
      text-align: right;
  }
  table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left;
  }
  table.responsive-table tr {
      border-bottom: none;
      padding: 0 10px;
  }
  table.responsive-table thead {
      border: 0;
      /* border-right: 1px solid #1d1e22; */
  }
  label{
    font-size: 3rem;
  }
  .invalid-feedback{
    font-size: 3rem;
  }
}
.new_form{
  font-size: 1.3rem;
}
</style>

<div class="form-group new_form" data-controller="refine">  
  <%= simple_form_for(refine_order) do |form| %>  
    <div class='form-row'>  
      <div class='form-group col-lg-3 col-sm-12'>  
        <%= form.label :request_date, "請求日期" %>
        <%= form.datetime_field :request_date, class:"form-control" %>
      </div>       
      <div class='form-group col-lg-3 col-sm-12'>   
        <%= form.label :recipient, "接收者" %>
        <%= form.text_field :recipient, class:"form-control" %>
      </div> 
      <div class='form-group col-lg-3 col-sm-12'>  
        <%= form.label :note, "備註" %>
        <%= form.text_field :note, class:"form-control" %>
      </div>       
      <div class='form-group col-lg-3 col-sm-12'>  
        <%= form.input :status, as: :select, collection:[['awaiting', '等待中'], ['scheduled', '提煉申請']], label_method: :second, value_method: :first, label: "狀態" %>
      </div> 

    </div>

    <table class="table table-hover responsive-table" data-controller='table'>
      <thead class='thead-light'>
        <tr>
          <th>舊金ID</th>
          <th>代號</th>
          <th>日期</th>
          <th>所有人</th>
          <th>重量</th>
          <th>成色</th>
          <th>實重</th>
          <th>提煉單價(錢)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% refining_cart.scrap_list.each do |scrap| %>
        <tr>
          <td><%= form.text_field :scrap_id, value: scrap.id, readonly:"readonly" %></td>
          <td><%= scrap.code %></td>
          <td><%= scrap.collected_date.to_formatted_s(:short) %></td>
          <td><%= scrap.user.name %></td>
          <td><%= scrap.gross_weight %></td>
          <td><%= scrap.wastage_rate %></td>
          <td><%= scrap.net_weight %></td>
          <td><%= scrap.refine_charge %></td>
          <td><%= link_to "移除", delete_to_cart_scrap_path(scrap, refine_order_id: @refine_order.id), method: :put, class:"btn btn-sm btn-danger button-sale-cart" %></td>
        </tr>    
        <% end %>      
      </tbody>
    </table> 
    <% if refining_cart.scrap_list.present? %>
      <h6>
      <label for="weight">合計重量</label>
      <%= form.text_field :total_gross_weight, value: refining_cart.total_weight,  readonly:"readonly", class:"form-control"   %>
      <label for="service_fee">合計費用</label>
      <%= form.text_field :refine_fee, value: refining_cart.total_service_fee,  readonly:"readonly", class:"form-control"   %>
      </h6>
    <% end %>

    <%= form.submit class:"btn btn-outline-dark button-refine-table" %>
  <% end %>
</div>
 