<style>

@media (max-width: 992px){
  h1{
      font-size: 6rem;
  }
  h4{
      font-size: 3rem;
  }
  .button-refine-table{
    font-size: 3.5rem;
  }
  .hide-table{
    display: none;
  }
  table.responsive-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
      font-size: 4rem;
      /* sort out borders */
  }
  table.responsive-table td:empty:before {
      content: "\00a0";
  }
  table.responsive-table th,
  table.responsive-table td {
      margin: 0;
      vertical-align: top;
  }
  table.responsive-table th {
      text-align: left;
  }
  table.responsive-table thead {
      display: block;
      float: left;
  }
  table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
      content: "\00a0";
  }
  table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
  }
  table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top;
  }
  table.responsive-table th {
      display: block;
      text-align: right;
  }
  table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left;
  }
  table.responsive-table tr {
      border-bottom: none;
      padding: 0 10px;
  }
  table.responsive-table thead {
      border: 0;
      /* border-right: 1px solid #1d1e22; */
  }
  label{
    font-size: 3rem;
  }
  .invalid-feedback{
    font-size: 3rem;
  }
}
</style>
<div class='table-responsive'>
  <table class="table table-hover responsive-table" data-controller='table'>
    <thead class='thead-light'>
    <tr>
      <th>舊金ID</th>
      <th>名稱</th>
      <th>所有人</th>
      <th>重量</th>
      <th>成色</th>
      <th>實重</th>
      <th>數量</th>
      <th>庫存狀態</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% current_user.scraps.available.each do |scrap| %>
    <tr>
      <td><%= scrap.id %></td>
      <td><%= scrap.title %></td>
      <td><%= scrap.user.name %></td>
      <td><%= scrap.gross_weight %></td>
      <td><%= scrap.wastage_rate %></td>
      <td><%= scrap.net_weight %></td>
      <td><%= scrap.quantity %></td>
      <td><%= scrap.in_stock %></td>
      <% if refine_order.status == 'pending' %>
        <td><%= link_to "加入", add_refine_order_path(scrap, refine_order_id: refine_order.id), method: :post, class:"btn btn-sm btn-info button-refine-table" %></td>
      <% end %>
    </tr>    
    <% end %>      
  </tbody>
  </table> 
</div>




