<style>

@media (max-width: 992px){
  label{
    font-size: 3rem;
  }
  .invalid-feedback{
    font-size: 3rem;
  }
  table{
    font-size: 2rem;
  }
}
</style>
<div class='table-responsive'>

  <table class="table" data-controller='table'>
    <thead>
      <tr>
        <th></th>
        <th>舊金ID</th>
        <th>代號</th>
        <th>日期</th>
        <th>所有人</th>
        <th>重量</th>
        <th>成色</th>
        <th>實重</th>
        <th>數量</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @scraps.available.each do |scrap| %>
      <tr>
        <td><%= link_to "加入", add_to_cart_scrap_path(scrap, refine_order_id: @refine_order.id), method: :put, class:"btn btn-sm btn-info" %></td>
        <td><%= scrap.id %></td>
        <td><%= scrap.code %></td>
        <td><%= scrap.collected_date.to_formatted_s(:short) %></td>
        <td><%= scrap.user.name %></td>
        <td><%= scrap.gross_weight %></td>
        <td><%= scrap.wastage_rate %></td>
        <td><%= scrap.net_weight %></td>
        <td><%= scrap.quantity %></td>
      </tr>    
      <% end %>      
    </tbody>
  </table> 
  <form class="form-inline">
    <%= search_form_for @q do |f| %>
      <%= f.submit class:"btn btn-outline-dark my-2 my-sm-0 mr-2" %>
      <%= f.search_field :id_eq, class:"form-control mr-sm-2", type:"search", placeholder:"輸入舊金ID"%>
    <% end %>
  </form>
</div>
