<style>
  @media (max-width: 992px){
    h1{
      font-size: 6rem;
    }
    h5{
      font-size: 4rem;
    }
    p{
      font-size: 3rem;
    }
    table{
      font-size: 3rem;
    }
    .btn{
      font-size: 3.5rem;
    }
    .close{
      font-size: 4rem;
    }
    .pagination{
      font-size: 4rem;
    }  }
</style>

<h1>進貨單列表</h1>
  <%= link_to "新增商品", new_purchase_order_path, class:'btn btn-outline-secondary mb-3' %>

<%= search_form_for @q, class: 'form-inline mb-3' do |f| %>
  <div class="row">
    <div class='col-lg-4 col-sm-5'>
      <%= f.date_field :created_at_gteq,
        class: "form-control input-sm search_field", data: { toggle: "tooltip", placement: "top"},  title: "起始日期"
      %>
    </div>
    <div class='col-lg-4 col-sm-5'>
      <%= f.date_field :created_at_lteq,
        class: "form-control input-sm search_field", data: { toggle: "tooltip", placement: "top"},  title: "結束日期"
      %>
    </div>

    <div class='col-lg-4 col-sm-2'><%= f.submit "搜尋", class:"btn btn-outline-dark ml-3"%></div>
  </div>
<% end %>

  <table class="table table-hover responsive-table table-light mt-3">
    <thead class='thead-dark'>
    <tr>
      <th>進貨日期</th>
      <th>入庫櫃號</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @purchaseOrders.each do |purchaseOrder| %>
    <tr>
      <td>
        <%#= link_to purchaseOrder.title, purchase_order_path(purchaseOrder) %>
        <%= link_to purchaseOrder.created_at.strftime("%Y/%m/%d"), purchase_order_path(purchaseOrder) %>
      </td>
      <td><%= purchaseOrder.code %></td>
      <td>
        <%= link_to "編輯", edit_purchase_order_path(purchaseOrder), class: "btn btn-outline-success" %>
        <%= link_to "刪除", purchase_order_path(purchaseOrder), data: {confirm: "確認取消嗎？ (將會連同入庫單內產品一併刪除)", commit: '是的', title: '你確定嗎?', cancel: '取消'}, method: :delete, class: "btn btn-outline-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>