<style>

@media (max-width: 992px){
  h1{
    font-size: 6rem;
  }
  .button-product_list{
    font-size: 3rem;
  }
  table{
        font-size: 3rem;

  }
}
</style>

<h1>商品基本資料</h1>

<%= link_to "新增商品資料", new_product_list_path, class:"btn btn-success mb-3 button-product_list" %>

<table class='table'>
  <thead>
    <tr>
      <th>名稱</th>
      <th>描述</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @productLists.each do |productList| %>
    <tr>
      <td><%= link_to productList.name, edit_product_list_path(productList) %></td>
      <td><%= strip_tags(productList.description).truncate(100) %></td>
      <td>
        <%= link_to "編輯", edit_product_list_path(productList) %>
        <%= link_to "刪除", product_list_path(productList), method: :delete, data: { confirm: "確認刪除嗎？"} %>
      </td>
    </tr>    
    <% end %>
  </tbody>
</table>