<section class='container'>
  <div class='row mt-2'>
    <div class='col-9'>
      <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%">
    </div>
    <div class='col-3'>
      <h2>登入</h2>
      
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      
        <div class="form-actions">
          <%= f.button :submit, "登入", class:'btn btn-info' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>