<style>
table tr td,
table tr th {
    /* border: 1px solid #1d1e22; */
    padding: 5px;
}
table {
    border-collapse: collapse;
}

@media (max-width: 992px){
  table.responsive-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
      font-size: 4rem;
      /* sort out borders */
  }
  table.responsive-table td:empty:before {
      content: "\00a0";
  }
  table.responsive-table th,
  table.responsive-table td {
      margin: 0;
      vertical-align: top;
  }
  table.responsive-table th {
      text-align: left;
  }
  table.responsive-table thead {
      display: block;
      float: left;
  }
  table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
      content: "\00a0";
  }
  table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
  }
  table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top;
  }
  table.responsive-table th {
      display: block;
      text-align: right;
  }
  table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left;
  }
  table.responsive-table tr {
      border-bottom: none;
      padding: 0 10px;
  }
  table.responsive-table thead {
      border: 0;
      /* border-right: 1px solid #1d1e22; */
  }
  p{
    font-size: 3rem;
  }
  .btn{
    font-size: 2rem;
  }
  h5{
    font-size: 4rem;
  }
  h3{
    font-size: 3rem;
  }
  h1{
    font-size: 6rem;
    /* text-align: center; */
  }
  .button-scrap{
    font-size: 3.5rem;
  }
  .pagination{
    font-size: 4rem;
  }
  .search_field{
    margin-bottom: 10px;
  }
  #q_title_cont{
    width: 100%;
  }
  #q_title_not_cont{
    width: 100%;
  }
  #q_collected_date_lteq{
    width: 100%;
  }
  #q_collected_date_gteq{
    width: 100%;
  }
  .scrap-table {
    text-align: center;
    font-size: 2.5rem;
  }
}

</style>

<h1>收金列表</h1>

<%= link_to "新增舊金", new_scrap_path, class:"btn btn-outline-secondary mb-3 button-scrap" %>
<%# # data: { toggle:"tooltip", placement:"top", title: "Tooltip on top"} %>

<%= search_form_for @q, class: 'form-inline' do |f| %>
  <div class="row">
    <div class='col-lg-5 col-sm-6'>
      <%= f.date_field :collected_date_gteq, 
        class: "form-control input-sm search_field", data: { toggle: "tooltip", placement: "top"},  title: "起始日期"
        # class: "form-control input-sm search_field", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => "起始日期"  
      %>
    </div>
    <div class='col-lg-5 col-sm-6'>
      <%= f.date_field :collected_date_lteq, 
        class: "form-control input-sm search_field", data: { toggle: "tooltip", placement: "top"},  title: "結束日期"
        # class:"form-control input-sm search_field", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => "結束日期"
      %>
    </div>
  </div>

  <div class="row">
    <div class='col-lg-4 col-sm-5'><%= f.search_field :title_cont, class:"form-control search_field", placeholder: "名稱包括" %></div>
    <div class='col-lg-4 col-sm-5'><%= f.search_field :title_not_cont, class:"form-control search_field", placeholder: "名稱不包括" %></div>
    <div class='col-lg-2 col-sm-2'><%= f.submit "搜尋", class:"btn btn-outline-dark ml-2"%></div>
  </div>

<% end %>
<br>
<div class='table-responsive'>

  <%= paginate @scraps %>

  <table class='table table-hover responsive-table table-light'>
  <thead class='thead-dark'>
    <tr>
      <th>ID</th>
      <th>客戶</th>
      <th>日期</th>
      <th>所有人</th>
      <th>名稱</th>
      <th>重量</th>
      <th>成色</th>
      <th>實重</th>
      <th>金價</th>
      <th>金額</th>
      <th>數量</th>
      <th>庫存</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @scraps.each do |scrap| %>
    <tr>
      <td><%= scrap.id %></td>
      <td><%= scrap.customer.name %></td>
      <td><%= scrap.collected_date.to_formatted_s(:short) %></td>
      <td><%= scrap.user.name %></td>
      <td><%= link_to scrap.title, scrap_path(scrap) %></td>
      <td><%= scrap.gross_weight %></td>
      <td><%= scrap.wastage_rate %></td>
      <td><%= scrap.net_weight %></td>
      <td><%= scrap.gold_buying %></td>
      <td><%= scrap.total_price %></td>
      <td><%= scrap.quantity %></td>
      <td><%= scrap.in_stock %></td>
      <td>
        <%= link_to "編輯", edit_scrap_path(scrap), class:"btn btn-outline-success button-scrap"  %>
        <%= link_to "刪除", scrap_path(scrap), method: 'delete', data: {confirm: "確認取消嗎？", commit: '是的', title: '你確定嗎?', cancel: '取消'}, class:"btn btn-outline-danger button-scrap" %>
      </td>

    </tr>    
    <% end %>  
  </tbody>
  </table>

</div>
<%# <hr> %>
<% if current_user.scraps.exists? %>
  <div class='table-responsive'>
    <table class='table table-hover table-light scrap-table' >
      <thead class='thead-dark'>
        <tr>
          <th>合計重量</th>
          <th>合計實重</th>
          <th>平均成色</th>
          <th>支出總和</th>
          <th>平均金價</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td><%= @scraps.sum(:gross_weight)%></td>
          <td><%= @scraps.sum(:net_weight) %></td>
          <td><%= (@scraps.sum(:net_weight) / @scraps.sum(:gross_weight)).round(4) %></td>
          <td>$<%= @scraps.sum(:total_price).round %></td>
          <td>$<%= (@scraps.sum(:total_price) / @scraps.sum(:net_weight)).round if @scraps.sum(:net_weight)!=0%></td>
        </tr>
      </tbody>
    </table>
  </div> 
<% end %>



