<h1>回收金紀錄</h1>

<ul>
    <li>名稱： <%= @scrap.title %></li>
    <li>重量： <%= @scrap.gross_weight %></li>
    <li>成色： <%= @scrap.wastage_rate %></li>
    <li>實重： <%= @scrap.net_weight %></li>
    <li>金價： <%= @scrap.gold_buying %></li>
    <li>金額： <%= @scrap.total_price %></li>
 
</ul>
