<style>

@media (max-width: 992px){
  h1{
    font-size: 6rem;
  }
  h4{
    font-size: 3rem;
  }
  .button-price_board{
    font-size: 3rem;
  }
  /* table{
        font-size: 1rem;

  } */
}
</style>

<h1>金價設定</h1>
<h4>日期：<%= DateTime.now.to_formatted_s(:short) %></h4>


<%= link_to "新增", new_price_board_path, class:"btn btn-success mb-3 button-price_board" %>
<%#= paginate @priceBoards, theme: 'twitter-bootstrap-4' %>

<table class='table'>
  <thead>
    <tr>
      <th>日期</th>
      <th>黃金賣出(盤商)</th>
      <th>黃金買入(盤商)</th>
      <th>漲/跌</th>
      <th>黃金賣出</th>
      <th>黃金買入</th>
      <th>漲/跌</th>
      <th>鉑金賣出</th>
      <th>鉑金買入</th>
      <th>漲/跌</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @priceBoards.each_with_index do |priceBoard, i| %>
    <tr>
      <td><%= @priceBoards[i].price_date %></td>
      <td><%= @priceBoards[i].wholesale_gold_selling %></td>
      <td><%= @priceBoards[i].wholesale_gold_buying %></td>
      <td><%= @priceBoards[i].wholesale_gold_selling - @priceBoards[i+1].wholesale_gold_selling if @priceBoards[i+1]!=nil  %></td>
      <td><%= @priceBoards[i].gold_selling %></td>
      <td><%= @priceBoards[i].gold_buying %></td>
      <td><%= @priceBoards[i].gold_selling - @priceBoards[i+1].gold_selling if @priceBoards[i+1]!=nil  %></td>
      <td><%= @priceBoards[i].platinum_selling %></td>
      <td><%= @priceBoards[i].platinum_buying %></td>
      <td><%= @priceBoards[i].platinum_selling - @priceBoards[i+1].platinum_selling if @priceBoards[i+1]!=nil  %></td>
      <td>
        <%= link_to "編輯", edit_price_board_path(priceBoard), class:"btn btn-info" %>
        <%= link_to "刪除", price_board_path(priceBoard), method: :delete, class:"btn btn-info" %>
      </td>
    </tr>    
    <% end %>
  </tbody>
</table>

  <%# create_table "price_boards", force: :cascade do |t|
    t.datetime "price_date"
    t.datetime "DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP"
    t.decimal "gold_price"
    t.decimal "platinum_price"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
  end %>