<table class="table table-hover">
  <thead class='thead-dark'>
    <tr>
      <th>ID</th>
      <th>重量</th>
      <th>單價</th>
      <th class="hide-table">合計</th>
      <th>委託</th>
    </tr>
  </thead>
  
  <tbody>
    <% current_user.commodities.only_deleted.each do |commodity| %>
    <tr>
      <td><%= commodity.id %></td>
      <td><%= commodity.weight %></td>
      <td><%= commodity.unit_price %></td>
      <td class="hide-table"><%= commodity.total_price %></td>
      <td><%= print_action(commodity.action) %></td>
    </tr>    
    <% end %>
  </tbody>
</table>