<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>重量</th>
      <th>單價</th>
      <th>合計</th>
      <th>買賣別</th>
    </tr>
  </thead>
  
  <tbody>
    <% @commodities.closed(current_user.id).each do |commodity| %>
    <tr>
      <td><%= commodity.id %></td>
      <td><%= commodity.weight %></td>
      <td><%= commodity.unit_price %></td>
      <td><%= commodity.total_price %></td>
      <td>
        <% if commodity.action == 'Buy' %>
          <%= "已賣出" %>
        <% else %>
          <%= "已買進" %>
        <% end %>
      </td>    
    </tr>    
    <% end %>
  </tbody>
</table>