<table class="table">
  <thead>
    <tr>
      <th>會員名稱</th>
      <th>ID</th>
      <th>重量</th>
      <th>單價</th>
      <th>合計</th>
      <th>買賣別</th>
    </tr>
  </thead>
  
  <tbody>
    <% @commodities.closed(current_user.id).each do |commodity| %>
    <%# @commodities.where(closer_id: current_user.id).each do |commodity| %>
    <tr>
      <td><%= commodity.user.name %></td>
      <td><%= commodity.id %></td>
      <td><%= commodity.weight %></td>
      <td><%= commodity.unit_price %></td>
      <td><%= commodity.total_price %></td>
      <td><%= commodity.action %></td>
    </tr>    
    <% end %>
  </tbody>
</table>