<tr>
  <td><%= commodity.id %></td>
  <td><%= commodity.weight %></td>
  <td><%= commodity.unit_price %></td>
  <td class="hide-table"><%= commodity.total_price %></td>
  <td>
    <% if commodity.action == 'Buy' %>
      <%= "已賣出" %>
    <% else %>
      <%= "已買進" %>
    <% end %>
  </td>    
</tr>   