<tr class='commodity_<%= commodity.id %>'>
  <td><%= commodity.id %></td>
  <td class="hide-table"><%= print_action(commodity.action) %></td>
  <td><%= commodity.weight %></td>
  <td>$<%= commodity.unit_price %></td>
  <td class="hide-table">$<%= commodity.total_price %></td>
  <td>
    <% if commodity.action == 'Buy' %>
      <h1>
      <%= link_to "賣出", deal_commodity_path(commodity), method: :post, data: { confirm: "確認要賣出重量：" + commodity.weight.to_f.to_s + " 錢嗎？", commit: '是的', title: '你確定嗎?'}, class: 'btn btn-success' %>
      </h1>
    <% else %>
      <%= link_to "買進", deal_commodity_path(commodity), method: :post, data: {confirm: "確認要買進重量：" + commodity.weight.to_f.to_s + " 錢嗎？", commit: '是的', title: '你確定嗎?'}, class: 'btn btn-primary' %>
    <% end %>
  </td>
</tr>


