<div class='table-responsive'>
  <table class="table">

  <thead>
    <tr>
      <th>ID</th>
      <th>重量</th>
      <th>單價</th>
      <th class="hide-table">合計</th>
      <th>委託</th>

    </tr>
  </thead>
  
  <tbody>
    <% current_user.commodities.available.each do |commodity| %>
    <tr class='commodity_<%= commodity.id %>'>
    <%# <tr> %>
      <td><%= commodity.id %></td>
      <td><%= commodity.weight %></td>
      <td><%= commodity.unit_price %></td>
      <td class="hide-table"><%= commodity.total_price %></td>
      <td><%= print_action(commodity.action) %></td>
      <td><%= link_to "取消", commodity_path(commodity), method: :delete, data: {confirm: "確認取消委託單嗎？"}, class: 'btn btn-danger' %></td>    
      </tr>    
    <% end %>
  </tbody>
  </table>
</div>