<style>
  @media (max-width: 992px){
    th{
      text-align: center;
      font-size: 3rem;
    }
    td{
      text-align: center;
      font-size: 3rem;
    }
    h5{
      text-align: center;
      font-size: 4rem;
    }
  }
  .content{
    font-size: 24px;
  }
  section{
      margin-top: 2rem;
  }
</style>

<section class="chart section" data-controller='chart'>
<div class='row'>
  <div class='col-4'>
  <h5>台幣黃金價格(台錢)</h5>
  <table class='table table-tw'>
    <thead>
      <tr>
        <th>賣出</th>
        <th>買入</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><%= @XAU_TWD_SELL %></td>
        <td><%= @XAU_TWD_BUY %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class='col-4'>
  <h5>美元黃金價格(盎司)</h5>
  <table class='table table-us'>
    <thead>
      <tr>
        <th>賣出</th>
        <th>買入</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><%= @XAU_USD_SELL %></td>
        <td><%= @XAU_USD_BUY %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class='col-4'>
  <h5>大盤黃金價格(台錢)</h5>
  <table class='table table-tw'>
    <thead>
      <tr>
        <th>賣出</th>
        <th>買入</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>6630<%= @XAU_TWD_SELL %></td>
        <td>6620<%= @XAU_TWD_BUY %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <p class="lead">&nbsp;即時更新請&nbsp;<a class="reload" href="javascript:location.reload()">按此</a></p>
</section>