<style>

@media (max-width: 992px){
  label{
    font-size: 3rem;
  }
  .invalid-feedback{
    font-size: 3rem;
  }
}
</style>

<div class="form-group">  
  <%= form_for(product) do |form| %>
    <div>
      <%= form.label :product_lists_id, "商品名稱" %>
      <%= form.collection_select :product_list_id, ProductList.available(current_user.id), :id, :name, {}, class:"form-control" %>
    </div>  
    <div>  
      <%= form.label :vendor_id, "廠商" %>
      <%= form.collection_select :vendor_id, Vendor.available(current_user.id), :id, :name, {}, class:"form-control" %>
    </div> 
    <div>  
      <%= form.label :weight, "重量" %>
      <%= form.text_field :weight, class:"form-control" %>
    </div> 
    <div>  
      <%= form.label :cost, "工錢成本" %>
      <%= form.number_field :cost, class:"form-control" %>
    </div> 
    <div>  
      <%= form.label :service_fee, "工錢" %>
      <%= form.number_field :service_fee, class:"form-control" %>
    </div> 
    <div>  
      <%= form.label :quantity, "數量" %>
      <%= form.number_field :quantity, class:"form-control" %>
    </div>     
    <div class="form-group form-check">  
      <%= form.check_box :on_sell, class:"form-check-input" %>
      <%= form.label :on_sell, "是否上架" %>
    </div> 
    <div>  
      <%= form.label :description, "描述" %>
      <%= form.rich_text_area :description, class:"form-control" %>
    </div> 
    <div>
      <%= form.submit class:"btn btn-primary mt-3" %>
      <%= link_to "回商品列表頁", products_path, class:'btn btn-info mt-3' %>
    </div>
  <% end %>
</div>