<style>
  table tr td,
  table tr th {
      /* border: 1px solid #1d1e22; */
      padding: 5px;
  }
  table {
    border-collapse: collapse;
  }

  @media (max-width: 992px){
    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        /* sort out borders */
    }
    table.responsive-table td:empty:before {
        content: "\00a0";
    }
    table.responsive-table th,
    table.responsive-table td {
        margin: 0;
        vertical-align: top;
    }
    table.responsive-table th {
        text-align: left;
    }
    table.responsive-table thead {
        display: block;
        float: left;
    }
    table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0;
    }
    table.responsive-table thead tr th::before {
        content: "\00a0";
    }
    table.responsive-table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top;
    }
    table.responsive-table th {
        display: block;
        text-align: right;
    }
    table.responsive-table td {
        display: block;
        min-height: 1.25em;
        text-align: left;
    }
    table.responsive-table tr {
        border-bottom: none;
        padding: 0 10px;
    }
    table.responsive-table thead {
        border: 0;
        /* border-right: 1px solid #1d1e22; */
    }
    p{
      font-size: 3rem;
    }
    h5{
      font-size: 4rem;
    }
    h1{
      font-size: 6rem;
    }
    .btn{
      font-size: 3.5rem;
    }
    table{
      font-size: 4rem;
    }
    .pagination{
      font-size: 4rem;
    }
    .close{
      font-size: 4rem;
    }
    .search_field{
      margin-bottom: 10px;
    }
    #q_created_at_lteq{
      width: 100%;
    }
    #q_created_at_gteq{
      width: 100%;
    }
    .product-table {
      text-align: center;
      font-size: 2.5rem;
    }
  }
</style>

<h1>商品列表</h1>

<%= link_to "新增商品", new_product_path, class:'btn btn-outline-secondary mb-3' %>
<%#= link_to "輸出Excel", products_path(params.merge(format: 'xlsx')), class:'btn btn-outline-secondary mb-3' %>

<%= search_form_for @q, class: 'form-inline mb-3' do |f| %>
  <div class="row">
    <div class='col-lg-4 col-sm-5'>
      <%= f.date_field :created_at_gteq,
        class: "form-control input-sm search_field", data: { toggle: "tooltip", placement: "top"},  title: "起始日期"
      %>
    </div>
    <div class='col-lg-4 col-sm-5'>
      <%= f.date_field :created_at_lteq,
        class: "form-control input-sm search_field", data: { toggle: "tooltip", placement: "top"},  title: "結束日期"
      %>
    </div>

    <div class='col-lg-4 col-sm-2'><%= f.submit "搜尋", class:"btn btn-outline-dark ml-3"%></div>
  </div>
<% end %>

<div class='table-responsive'>
  <%= paginate @products %>

  <table class="table table-hover responsive-table table-light mt-3">
    <thead class='thead-dark'>
      <tr>
        <th>ID</th>
        <th>會員</th>
        <th>代號</th>
        <th>名稱</th>
        <th>重量</th>
        <th>工錢</th>
        <th>廠商</th>
        <th>庫存量</th>
        <th>銷售狀態</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <tr>
      <td><%= product.id %></td>
      <td><%= product.user.name %></td>
      <td><%= product.code %></td>
      <td><%= link_to product.title, product_path(product) %></td>
      <td><%= product.weight %></td>
      <td><%= product.service_fee %></td>
      <td><%= product.vendor.name %></td>
      <td><%= product.quantity %></td>
      <td><%= product.on_sell %></td>
      <td>
        <%= link_to "編輯", edit_product_path(product), class:"btn btn-outline-success" %>
        <%= link_to "刪除", product_path(product), method: :delete, data: {confirm: "確認取消嗎？", commit: '是的', title: '你確定嗎?', cancel: '取消'}, class:"btn btn-outline-danger" %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user.products.exists? %>
  <div class='table-responsive'>
    <table class='table table-hover table-light product-table' >
      <thead class='thead-dark'>
        <tr>
          <th>合計重量</th>
          <th>合計工錢</th>
          <th>合計數量</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @products.sum(:total_weight) %></td>
          <td><%= @products.sum(:service_fee) %></td>
          <td><%= @products.sum(:quantity) %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
