<style>
  @media (max-width: 992px){
    h1{
        font-size: 6rem;
    }
    h4{
        font-size: 3rem;
    }
    .button-sale-edit-table{
      font-size: 3.5rem;
    }
    .hide-table{
      display: none;
    }
    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        font-size: 4rem;
        /* sort out borders */
    }
    table.responsive-table td:empty:before {
        content: "\00a0";
    }
    table.responsive-table th,
    table.responsive-table td {
        margin: 0;
        vertical-align: top;
    }
    table.responsive-table th {
        text-align: left;
    }
    table.responsive-table thead {
        display: block;
        float: left;
    }
    table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0;
    }
    table.responsive-table thead tr th::before {
        content: "\00a0";
    }
    table.responsive-table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top;
    }
    table.responsive-table th {
        display: block;
        text-align: right;
    }
    table.responsive-table td {
        display: block;
        min-height: 1.92em;
        text-align: left;
    }
    table.responsive-table tr {
        border-bottom: none;
        padding: 0 10px;
    }
    table.responsive-table thead {
        border: 0;
        /* border-right: 1px solid #1d1e22; */
    }
    label{
      font-size: 3rem;
    }
    .invalid-feedback{
      font-size: 3rem;
    }
  }
</style>

<table class="table table-hover responsive-table" data-controller='table'>
  <thead class='thead-light'>
    <tr>
      <th></th>
      <th>名稱</th>
      <th>商品ID</th>
      <th>重量</th>
      <th>工錢</th>
      <th>數量</th>
      <th>銷售狀態</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.products.available.take(5).each do |product| %>
    <tr>
      <td><%= link_to "加入", add_sale_path(product, sale_id: sale.id), method: :post, class:"btn btn-sm btn-info button-sale-edit-table" %></td>
      <td><%= link_to product.title, product_path(product) %></td>
      <td><%= product.id %></td>
      <td><%= product.weight %>
      <td><%= product.service_fee %></td>
      <td><%= product.quantity %>
      <td><%= product.on_sell %></td>
    </tr>
    <% end %>
  </tbody>
</table>