<style>
  @media (max-width: 992px){
  h1{
      font-size: 6rem;
  }
  h4{
      font-size: 3rem;
  }
  .button-sale-table{
    font-size: 3.5rem;
  }
  .hide-table{
    display: none;
  }
  table.responsive-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
      font-size: 4rem;
      /* sort out borders */
  }
  table.responsive-table td:empty:before {
      content: "\00a0";
  }
  table.responsive-table th,
  table.responsive-table td {
      margin: 0;
      vertical-align: top;
  }
  table.responsive-table th {
      text-align: left;
  }
  table.responsive-table thead {
      display: block;
      float: left;
  }
  table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
      content: "\00a0";
  }
  table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
  }
  table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top;
  }
  table.responsive-table th {
      display: block;
      text-align: right;
  }
  table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left;
  }
  table.responsive-table tr {
      border-bottom: none;
      padding: 0 10px;
  }
  table.responsive-table thead {
      border: 0;
      /* border-right: 1px solid #1d1e22; */
  }
  label{
    font-size: 3rem;
  }
  .invalid-feedback{
    font-size: 3rem;
  }
  }
</style>

<h1>銷售明細</h1>

<ul>
  <li>銷售日期：<%= @sale.sale_date %></li>
  <li>合計工錢：<%= @sale.service_fee %></li>
  <li>合計重量：<%= @sale.weight %></li>
  <li>銷售金額：<%= @sale.total_price %></li>
  <li>工資利潤：<%= @sale.service_profit %></li>
  <li>損耗利潤：<%#= @sale.total_price %></li>

</ul>

  <%# create_table "sales", force: :cascade do |t|
    t.datetime "sale_date", default: -> { "CURRENT_TIMESTAMP" }
    t.decimal "gold_selling"
    t.decimal "gold_buying"
    t.decimal "exchange_weight"
    t.decimal "wastage_rate", default: "0.95"
    t.decimal "net_weight", default: "0.0"
    t.integer "payment_method", default: 0
    t.decimal "service_fee"
    t.decimal "weight"
    t.decimal "total_price"
    t.bigint "product_id", null: false
    t.bigint "customer_id", null: false
    t.bigint "user_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["customer_id"], name: "index_sales_on_customer_id"
    t.index ["product_id"], name: "index_sales_on_product_id"
    t.index ["user_id"], name: "index_sales_on_user_id"
  end %>